/* Define the keyframes for the gradient animation */
@keyframes bg-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Apply the gradient background and animation to the .main class */
.str-chat__channel-header, .str-chat__empty-channel, .str-chat__date-separator, .str-chat__channel, .str-chat__message-list-scroll, .str-chat__ul, .str-chat__message, .str-chat__message-input {
    background: linear-gradient(to right, #080F58, purple, #080F58); /* Gradient colors */
}

.dark .str-chat__channel-header, 
.dark .str-chat__empty-channel, 
.dark .str-chat__date-separator, 
.dark .str-chat__channel, 
.dark .str-chat__message-list-scroll, 
.dark .str-chat__ul, 
.dark .str-chat__message, 
.dark .str-chat__message-input {
    background: linear-gradient(to right, #121212, #080F58, #121212);
}

.str-chat__channel-header{
    color: white;
}

.str-chat__channel{
    margin: 0;
}

.str-chat__message{
    margin-top: 10px;
    margin-bottom: 0 !important;
}

.str-chat__message-input{
    color: white;
}

/*Changing the color of text in text-area*/
.rta__textarea:focus {
    color: white !important;
}